In [5]:
path1 = r"C:\Users\vaibh\Downloads\Samco_10062025152511_Excel.xlsx"
path2 = r"C:\Users\vaibh\Downloads\ICICI_08052025122000_SSD_2082.xlsx"
path3 = r"C:\Users\vaibh\Downloads\HSBC_06062025122011_HSBCMutualFund.xlsx"

In [6]:
import pandas as pd
df1 = pd.read_excel(path1)
df2 = pd.read_excel(path2)
df3 = pd.read_excel(path3)

In [7]:
df1.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2
52,51,Max Switch Units (if applicable),Not Applicable
53,52,Swing Pricing (if applicable),Not Applicable
54,53,Side-pocketing (if applicable),Yes
55,SIP SWP & STP Details:,NaN,NaN
56,54,Frequency,"SIP- Daily, Monthly, Quarterly, Half yearly \n..."
57,55,Minimum amount,SIP - Daily - 500 (10 installments) / Month...
58,56,In multiple of,Rs. 1/- thereafter for all frequencies
59,57,Minimum Instalments,SIP- Daily - 10 / Monthly - 12 & 6/ quarterly...
60,58,Dates,"SIP- Daily - All business day/ Monthly,quarter..."
61,59,Maximum Amount (if any),Not Applicable

In [8]:
df2.tail(10)

,Fields,SCHEME SUMMARY DOCUMENT,Unnamed: 2
78,51,Minimum instalments,"Daily,Weekly,Monthly,Fortnightly = 6\nQuarterl..."
79,52,Dates,Daily = Daily (only business days)\nWeekly = A...
80,53,Maximum Amount (If any),NaN
81,SWP,NaN,NaN
82,48,Frequency,"Monthly,Quarterly, Half Yearly,Annual"
83,49,Minimum amount,Any amount
84,50,In multiple of,Re. 1/-
85,51,Minimum instalments,"Monthly,Quarterly, Half Yearly,Annual = 2"
86,52,Dates,Monthly = Any day*\nQuarterly= Any day*\nHalf ...
87,53,Maximum Amount (If any),NaN

In [9]:
df3.tail(10)

,Fields,SCHEME SUMMARY DOCUMENT,Unnamed: 2
43,44,Max Switch Amount,NaN
44,45,Max Switch Units (if applicable),NaN
45,46,Swing Pricing (if applicable),No
46,47,Side-pocketing (if applicable),Yes.(Definition of Credit Event is modified as...
47,48,SIP SWP & STP Details: Frequency,"SIP - Weekly (Default: Wednesday), Monthly (De..."
48,49,SIP SWP & STP Details: Minimum amount,SIP - 500 Weekly 6; 500 Monthly 6; 1500 Quarte...
49,50,SIP SWP & STP Details: In multiple of,SIP- Rs. 1 STP-Rs. 1 SWP-Rs. 1 ...
50,51,SIP SWP & STP Details: Minimum Instalments,SIP - Weekly - 6 installments ; Monthly - 6 ...
51,52,SIP SWP & STP Details: Dates,SIP - Any Date STP - Any Date of the month; De...
52,53,SIP SWP & STP Details: Maximum Amount (if any),SIP / STP / SWP - NA